* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --gray0: #f8f8f8;
  --gray1: #dbe1e8;
  --gray2: #b2becd;
  --gray3: #6c7983;
  --gray4: #454e56;
  --gray5: #2a2e35;
  --gray6: #12181b;
  --blue: #0084a5;
  --purple: #a82dd1;
  --yellow: #fff565;
}
body {
  font-family: sans-serif;
  height: 100vh;
  font-size: 16px;
  background: var(--bg);
}

.nav-bar {
  background-color: var(--white);
  width: 100%;
}
.nav-bar ul {
  display: flex;
  justify-content: flex-end;
  gap: 0.5em;
  width: 70%;
  margin: 0 auto;
}
.nav-bar ul li {
  list-style-type: none;
  cursor: pointer;
  padding: 1em;
  font-weight: bolder;
  font-size: 1.1em;
  color: var(--text-color);
}
.nav-bar ul li:hover {
  background-color: var(--blue);
  color: var(--gray0);
}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.parent .switcher {
  background-color: khaki;
  padding: 0.6em;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 1.1em;
  border-radius: 0.5em;
}

/* .parent .switcher:hover {
  scale: 1.2;
  transition: scale 0.2s ease-in;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.parent .slider-switch {
  background-color: black;
  height: 2.5em;
  width: 5em;
  border-radius: 1.5em;
  padding: 0.2em;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
  box-shadow: inset 0px 11px 8px -10px #ccc, inset 0px -11px 8px -10px #ccc;
} */

.parent .slider-switch .ball {
  width: 2em;
  height: 2em;
  background-color: var(--gray1);
  border-radius: 2em;
  position: absolute;
  left: 0.2em;
  box-shadow: inset 0px 11px 8px -10px var(--gray1),
    inset 0px -11px 8px -10px var(--gray4);
}

.animate {
  left: 2.8em;
  transition: left 0.4s ease-in-out;
}

.posts {
  list-style-type: none;
  width: 40%;
}
.posts li {
  margin-bottom: 1em;
}
.posts li h1 {
  color: var(--title-color);
}
.posts li div {
  padding: 1em;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
}
.posts li div:hover {
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.posts li div:hover h2 {
  color: var(--purple);
}
.posts li div h2 {
  margin-bottom: 0.6em;
  color: var(--text-color);
}
.posts li div p {
  letter-spacing: 0.1em;
  line-height: 1.3em;
  color: var(--p-text-color);
}

/*define the themes */
.light {
  --bg: var(--gray0);
  --text-color: var(--gray6);
  --p-text-color: var(var(--gray4));
  --title-color: var(--purple);
}
.dark {
  --bg: var(--gray5);
  --text-color: var(--gray0);
  --p-text-color: var(--gray2);
  --title-color: var(--purple);
}
